$gold: #c0ab77;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: initial;
}

body {
  font-family: "PT Serif", serif;
  background-color: #fffdf8;
  background-image: url(../img/bg-uzor-8.png);
  background-size: contain;
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

.fa-solid {
  position: absolute;
  font-size: 24px;
  color: #f4eede;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.header .logo img {
  width: 100%;
  display: block;
}

.header {
  .nav {
    position: absolute;
    right: 0;
    height: 100%;
    width: 0;
    overflow: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 1.5s;
    transition: 1.5s;
    background-color: #f4eede;
    z-index: 4;
    .nav__item {
      position: relative;
      cursor: pointer;
      border-left: 3px solid $gold;
      background-color: lightgray;
      .fa-solid {
        top: 50%;
        right: 12px;
        transform: translate(0, -50%);
        color: rgb(75, 75, 75);
        font-size: 12px;
      }
    }
    .nav__link {
      display: block;
      margin-bottom: 8px;
      padding: 10px 12px;
      white-space: pre;
    }
    .drop-test {
      position: relative;
      margin: 12px;
      overflow: hidden;
      .drop-cont {
        height: 0;
        transition: 1s;
        a {
          display: block;
          padding: 8px;
          border-bottom: 0.3px solid;
        }
      }
      .dropdown-active {
        transition: 1s;
        height: auto;
      }
    }
  }
  .active {
    transform: translateX(0);
    width: 55%;
    transition: 1s;
  }
  .dropdown {
    font: {
      size: 14px;
    }
    position: absolute;
    padding: 4px;
    background-color: #fff;
    z-index: 5;
    transform: translateX(-100%);
    transition: 2s;
  }
}

.banner {
  text-align: center;

  .banner-img {
    position: absolute;
    -webkit-transition: 2s;
    transition: 2s;
    max-width: 100%;
    opacity: 0;
  }
  .active-slide {
    opacity: 1;
    transition: 2s;
  }
  .banner-box {
    max-width: 100%;
    visibility: hidden;
  }
}

.dots {
  display: flex;
  justify-content: center;
  .dot {
    width: 8px;
    height: 8px;
    margin-right: 3px;
    background-color: rgb(182, 181, 181);
    border-radius: 50%;
  }

  .active-dot {
    background-color: rgb(107, 107, 107);
  }
}
.events {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 10px;
  text-align: center;
}
.events__title {
  text-align: center;
  margin-top: 16px;
  text-shadow: 0 0 1px $gold;
}

.event {
  max-width: 200px;
  height: 350px;
  margin: 12px auto;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.882);
  text-align: center;
  border-radius: 4px;
  border: 0.3px solid $gold;
  overflow: scroll;
  &__img {
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 4px;
    -webkit-box-shadow: 2px 2px 5px lightgray;
    box-shadow: 2px 2px 5px lightgray;
  }

  &__name {
    color: $gold;
    font-size: 18px;
    margin-bottom: 4px;
  }

  &__info {
    text-align: center;
  }
}
.title {
  margin-top: 15px;
  font: {
    weight: normal;
    size: 24px;
  }
}
.news {
  display: grid;
  &__item {
    padding: 10px;
    border-top: 0.5px solid black;
    clear: both;
    img {
      width: 200px;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    .news__item-name {
      margin: 4px;
      font-weight: bold;
      color: $gold;
    }
    .news__item-link {
      display: inline-block;
      margin-top: 10px;
      color: $gold;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  background-color: #383838;
}

// poster scss
.posters {
  font-family: "EB Garamond", serif;
}
.poster {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
  padding-top: 16px;
  gap: 20px;
  text-align: center;
  .col__date {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    .day {
      font: {
        size: 64px;
        weight: 700;
      }
    }
    .month {
      font-size: 24;
    }
    .hour {
      font-size: 24;
    }
  }
  .col__date > p {
    color: $gold;
    .month {
    }
    .hour {
    }
  }
}

.info__name {
  margin: 16px 0;
  font-size: 24px;
  color: $gold;
}

.col__ticket {
  display: inline-block;
  margin-top: 16px;
  padding: 5px 10px;
  background-color: #dba500;
  color: #fff;
  align-self: flex-start;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 750px) {
  .col__date {
    width: 100%;
  }
}

// about html
.about {
  padding: 16px;

  img {
    width: 100%;
  }
}
.para {
  margin-top: 10px;
}

// contacts html
.contact {
  border-bottom: 0.2px solid $gold;
  padding: 16px 0 16px;
  line-height: 1.5;
  .contact__link {
    display: block;
    color: $gold;
  }
  .contact__link:hover {
    color: rgb(175, 160, 74);
  }
}

// classic html
.title__class {
  margin: 12px 0;
  text-align: center;
}
.ballet {
  margin: 16px 0;
  padding: 16px 0;
  text-align: center;

  border-bottom: 0.3px solid black;
  .ballet__name {
    font-size: 24px;
    color: $gold;
  }
}

// people html
.admin {
  margin-top: 16px;
  margin-bottom: 12px;
  line-height: 1.3;
  .admin__pos {
    font: {
      size: 16px;
      weight: 700;
    }
    color: $gold;
  }
  .admin__name {
  }
}
.trainers {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: end;
  text-align: center;
  .trainer__pos-title {
    width: 100%;
    margin-bottom: 12px;
    color: $gold;
  }
  .trainer {
    width: 50%;
    margin-bottom: 32px;

    img {
      border-radius: 12px;
      width: 90%;
      object-fit: contain;
    }
    .trainer__pos {
      color: $gold;
      margin-bottom: 12px;
    }
  }
  .main {
    width: 50%;
    margin-top: 16px;
  }
}
.dancers {
  img {
    max-width: 100%;
  }
}

.tour {

  .tour__news {
margin-bottom: 12px;
padding-bottom: 8px;
border-bottom: 0.3px solid black;
    .name {
      color: $gold;
    }
    .info {
      line-height: 1.5;
    }
    img {
      float: left;
      margin-right: 12px;
    }
    .news__item-link {
      display: block;
      color: $gold;
      text-align: end;
    }
  }
  .tour__news::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media screen and (min-width: 830px) {
  body {
    background: {
      image: url(../images/bg-uzor-8.png);
      position: center;
      size: cover;
      // repeat: no-repeat;
      color: #f8f1df;
    }
    .header {
      .nav {
        all: unset;
        .nav_menu {
          display: flex;
          justify-content: space-evenly;
          gap: 2px;

          .nav__item {
            all: unset;
            width: 100%;
            text-align: center;
            background-color: rgb(246, 246, 246);
            &:hover {
              background-color: rgb(203, 203, 203);
            }
            .nav__link {
              margin-bottom: 0;
              padding: 8px;
              background-color: rgb(239, 239, 239);
            }
            .nav__link:hover {
              transition: 0.3s;
              background-color: rgb(224, 223, 223);
            }
          }
          .drop-test {
            position: relative;
            all: unset;
            margin: 0;
            flex: auto;
            .drop-cont {
              display: none;
            }
          }
          .drop-test:hover {
            .drop-cont {
              position: absolute;
              display: block;
              padding: 5px 5px 0;
              height: auto;
              background-color: rgb(239, 239, 239);
              box-shadow: 0 2px 5px rgb(218, 218, 218);
              transition: 0.3s;
              z-index: 10;

              a:hover {
                background-color: rgb(224, 223, 223);
                transition: 0.3s;
              }
            }
          }
        }
      }
    }
    .trainers {
      .trainer {
        all: unset;
      }
      .main {
        width: 50%;
        img {
          width: 50%;
        }
      }
    }
  }
  .wrapper {
    width: 830px;
    margin: 0 auto;
    background-color: #fff;
  }

  .fa-solid {
    visibility: hidden;
    color: black;
  }
  footer {
    width: 100%;
    margin-top: 50px;
  }
  .ballet {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .ballet__name {
      width: 100%;
      text-align: left;
      margin: 4px auto auto 32px;
      order: 0;
    }
    img {
      align-self: flex-start;
      order: 1;
      width: 35%;
      border-radius: 10px;
      margin: 12px;
    }
    .ballet__info {
      order: 2;
      width: 60%;
      margin-left: 8px;
    }
  }
}
/*# sourceMappingURL=style.css.map */
